{% extends 'course/base.html' %}
{% load time_left %}
{% block title %}Profile Page{% endblock title %}
{% block body %}
    <h1>User Profile...</h1>
    <a href="{% url 'members:edit_profile' %}" role="button" class="btn btn-success mr-2">Edit Settings</a>
  <a href="{% url 'members:edit_profile_page' user.profile.id %}" role="button" class="btn btn-success mr-2">Edit Profile Page</a>
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-2">
                {% if page_user.profile_pic.url %}
                <img src="{{page_user.profile_pic.url}}" width="200" height="200">
                {% else %}
                <img src="" width="200" height="200">
                {% endif %}
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">
                    {{page_user.first_name}}
                    {{page_user.last_name}}
                  </h5>
                  <p class="card-text"><small class="text-muted">
                    {% if page_user.website_url %}
                     | <a href="{{page_user.website_url}}">Website</a>
                    {% endif %}
                    {% if page_user.facebook_url %}
                      | <a href="{{page_user.facebook_url}}">Facebook</a>
                    {% endif %}
                  </small></p>
                  <p class="card-text">{{page_user.bio}}</p>
                  {% get_time_in_sec as time_left %}
                  {% for item, value in time_left.items %}
                      {% if page_user.time_preference == "H" %}
                      <p> {{item}} - {{ value | time_conversion:"H" }} hr left </p>
                      {% elif page_user.time_preference == "M" %}
                      <p> {{item}} - {{ value | time_conversion:"M" }} minutes left </p>
                      {% elif page_user.time_preference == "S" %}
                      <p> {{item}} - {{ value | time_conversion:"S" }} seconds left </p>
                      {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

{% endblock  %}
