{% extends 'course/base.html' %}
{% block title %}Watch Later Course{% endblock title %}
{% load time_left %}
{% block body %}

    <center class="my-2"><h1>Users saved watch later course</h1></center>
    <center><p class="lead text-muted">Here you can remove or view the watch later course you have added.</p></center>
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">S.no</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
            <th scope="col">Time Left</th>
          </tr>
        </thead>
        <tbody>
            <h4>
                Select All
                <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
            </h4>
            {% for course in watch_later %}
            <form  method="post" action="{% url 'members:watch_later_add' course.id %}">
                {% csrf_token %}

            <tr>
                <td>
                    <tag id="one" style="margin:8%">
                        <input type="checkbox" name="selected[]" value="{{course.id}}" />
                    </tag>
                </td>
                <th scope="row">{{forloop.counter}}</th>
                <td><a  style="color: inherit;" href="{% url 'course_video:listing' course.id %}">{{course.title}}</a></td>
                <td>
                    <a target="_blank" href={{course.link}}><img class="mx-2" src="https://cdn-icons-png.flaticon.com/512/709/709576.png" alt="Export free icon" title="Go to Link" width="20" height="20"></a>
                    <a href={% url 'members:watch_later_add' course.id %}><img src="   https://cdn-icons-png.flaticon.com/512/3096/3096687.png " alt="" title="Delete" class="img-small" width="20" height="20"></a>
                </td>
                {% if user.is_authenticated and profile.time_preference == "H" %}
                    <td>{{ course.time_left | time_conversion:"H" }} hr left</td>
                {% elif user.is_authenticated and profile.time_preference == "M" %}
                    <td>{{ course.time_left | time_conversion:"M" }} min left</td>
                {% else %}
                    <td>{{ course.time_left | time_conversion:"S" }} sec left</td>
                {% endif %}
            {% endfor %}
            </tr>
            <h3><input class="btn btn-danger" type="submit" name="delete" value="Delete" /></h3>
        </form>
        </tbody>
    </table>
    {% endblock body %}
