{% extends 'base.html' %}
{% load time_left %}
{% block title %}Create Profile Page{% endblock title %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Create Profile Page</h1>
        <br></br>

        <div class="form-group">
            
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{form.as_p}}
                {% gettime %}
                <button class="btn btn-secondary">Create Profile Page</button>
            </form>
        </div>
    {% endif %}
{% endblock body %}