{% extends 'base.html' %} {% block title %} Home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %} 
{% block body %}

<div class="container">
  <div class="jumbotron my-3">
    <h1 class="display-4">Welcome to TechHub!</h1>
    <p class="lead">
      This Platform provide you all new and trending technologies to learn and
      explore.
    </p>
    <hr class="my-4" />
    <p>Technology is best when it brings people together.</p>
    <a class="btn btn-primary btn-lg" href="course" role="button"
      >Go to Course</a
    >
  </div>
</div>

{% endblock %}
