{% extends 'base.html' %}
{% block title %}Course{% endblock title %}

{% block body %}

    <center class="my-2"><h1>List of Playlist</h1></center>
    <div class="ml-auto my-2">
      <a href="upload" role="button" class="btn btn-success mr-2">Upload Excel</a>
      <a href="course_csv" role="button" class="btn btn-success mr-2">Download Excel</a>
      <a href="download" role="button" class="btn btn-success mr-2">Sample Excel</a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
            <th scope="col">Tag</th>
            <th scope="col">Progress</th>
          </tr>
        </thead>
        <tbody>
          {% for a in course %}
                    {% if a.public and user.is_authenticated %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td><a  style="color: inherit;" href="{% url 'listing' a.id %}">{{a.title}}</a></td>
                      
                      {% if user.id == a.author.id %}
                        <td>
                          <a target="_blank" href={{a.link}}><img class="mx-2" src="https://cdn-icons-png.flaticon.com/512/709/709576.png" alt="Export free icon" title="Export free icon" width="20" height="20"></a>
                          <a href="{% url 'editing' a.id %}">
                          <img src="   https://cdn-icons-png.flaticon.com/512/1159/1159633.png " alt="" title="" class="img-small" width="20" height="20">
                          </a>

                        </td>
                        
                        {% else %}
                        <td>
                          <a  target="_blank" href={{a.link}}><img class="mx-2" src="https://cdn-icons-png.flaticon.com/512/709/709576.png" alt="Export free icon" title="Export free icon" width="20" height="20"></a>
                          <a href="{% url 'clone' a.id %}">
                            <img src="https://cdn-icons-png.flaticon.com/512/4662/4662661.png " alt="" title="" class="img-small" width="20" height="20"></a>
                          
                        </td>
                        {% endif %}
                        <td>
                        {% for tag in a.tags.all %}
                        <a href="{% url 'tag_listing' tag.slug %}">{{tag.name}}</a>
                      {% endfor %}
                    </td>
                    {% for item, values in per.items %}
                      {% if item == a.id %}
                        {% if user.id == a.author.id %}
                          <td>
                            
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{values}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{values}}%</div>
                      </div> 
                      
                    </td>
                    {% else %}
                    <td>
                      
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div> 
                    </td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </tr>
                    {% else %}
                    
                    {% if user.id == a.author.id %}
                    <tr>
                    <th scope="row">{{forloop.counter}}</th>
                      <td><a  style="color: inherit;" href="{% url 'listing' a.id %}">{{a.title}}</a></td>
                        <td>
                          
                          <a target="_blank" href={{a.link}}><img class="mx-2" src="https://cdn-icons-png.flaticon.com/512/709/709576.png" alt="Export free icon" title="Export free icon" width="20" height="20"></a>
                          <a href="{% url 'editing' a.id %}">
                            <img src="   https://cdn-icons-png.flaticon.com/512/1159/1159633.png " alt="" title="" class="img-small" width="20" height="20">
                            </a>
                        </td>

                      {% comment %} {% else %}
                        <td>
                          <a target="_blank" href={{a.link}}><img class="mx-2" src="https://cdn-icons-png.flaticon.com/512/709/709576.png" alt="Export free icon" title="Export free icon" width="20" height="20"></a>
                          
                        </td>
                      {% endif %} {% endcomment %}
                      <td>
                      {% for tag in a.tags.all %}
                        <a href="{% url 'tag_listing' tag.slug %}">{{tag.name}}</a>
                          {% endfor %}
                        </td>
                    {% for item, values in per.items %}
                    {% if item == a.id %}
                    {% if user.id == a.author.id %}
                    <td>
                      
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{values}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{values}}%</div>
                      </div>
                    </td>
                    {% else %}
                    <td>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                    </td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    
                    {% else %}
                    <tr>
                    </tr>
                    {% endif %}
                    
                        {% comment %} {% endfor %} {% endcomment %}
                       
                    {% endif %}
                  {% comment %} {% endif %} {% endcomment %}
                  
                
      
      
      {% endfor %}
    </tbody>
      </table>
      {% comment %} {% if course.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{course.previous_page_number}}">Previous</a>
      {% endif %}
      Page {{course.number}} of {{course.paginator.num_pages}}
      {% if course.has_next %}
      <a href="?page={{course.next_page_number}}">Next</a>
      <a href="?page={{course.paginator.num_pages}}">Last &raquo</a>
      {% endif %} {% endcomment %}
      {% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
{% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
{% endif %}
</ul>

{% endif %}
      {% endblock body %}
    