{% extends 'base.html' %}
{% block body %}
    <button onclick="history.back()"><img src="https://cdn-icons-png.flaticon.com/512/3114/3114883.png " alt="" title="" class="img-small" width="30" height="30"></button>
    <center class="mx-2"><h1>{{title}}</h1></center>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.no</th>
          <th scope="col">List</th>
          <th scope="col">Action</th>
          <th scope="col">Time</th>
          <th scope="col">Current Status</th>
        </tr>
      </thead>
      <tbody>
        {% for dict in videoDetail %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a target="_blank" style="color: inherit;" href={{dict.link}}>{{ dict.list_item }}</a></td>
          <td>
          <a href={% url 'watch_later_playlist_add' dict.id %}>
            <img src="   https://cdn-icons-png.flaticon.com/512/833/833602.png " alt="" title="" class="img-small" width="20" height="20">
          </a>
        </td>
          <td>{{dict.time}}</td>



          <td>
            <div class="card">
              <div class="card-body">
                <form action="{% url 'getstatus' dict.id %}" method="post">
                  {% csrf_token %}
                  {% comment %} <label for="choice">Choice</label> {% endcomment %}
                  <select name="choice" class="form-control">
                    {% if dict.status == "Yet to Start" %}
                    <option value="Yet to Start" selected>Yet to Start</option>
                    {% else %}
                    <option value="Yet to Start">Yet to Start</option>
                    {% endif %}
                    {% if dict.status == "In Progress" %}
                    <option value="In Progress" selected>In Progress</option>
                    {% else %}
                    <option value="In Progress">In Progress</option>
                    {% endif %}
                    {% if dict.status == "On Hold" %}
                    <option value="On Hold" selected>On Hold</option>
                    {% else %}
                    <option value="On Hold">On Hold</option>
                    {% endif %}
                    {% if dict.status == "Completed" %}
                    <option value="Completed" selected>Completed</option>
                    {% else %}
                    <option value="Completed">Completed</option>
                    {% endif %}
                  </select>
                    <button type="submit" class="btn btn-dark my-2">Save</button>
                  </form>
                  </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
    </table>

{% endblock %}
