{% extends 'base.html' %}
{% block body %}
    
    <center class="mx-2"><h1>All Playlist</h1></center>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.no</th>
          <th scope="col">List</th>
          <th scope="col">Time</th>
          <th scope="col">Current Status</th>
        </tr>
      </thead>
      <tbody> 
        {% for dict in videoDetail %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          {% for value in dict.values %}
          <td>{{ value }}</td>
          {% endfor %}
          <td>
            <select>
                
                {% for result in status %}
                {% comment %} <option disabled="true" selected></option> {% endcomment %}
                <option>{{result.status}}</option>
                {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}