{% extends 'course/base.html' %}

{% block title %} Similar Course {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}


{% block body %}
<div class="container my-3">
    {% if tags %}
    {% for post in tags  %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="my-2">
                <a href="{{post.link}}" role="button" class="btn btn-primary">Checkout</a>
            </div>

        </div>}
    </div>
    {% endfor %}
    {% else %}
    <p>No post related to that tag yet.</p>
    {% endif %}
</div>

 {% endblock %}
